<div class="ui menu">
    <a asp-page="/Session/Index" class="item">Online Players</a>
    <a asp-page="/Session/Banned" class="item">Banned</a> 
    <a asp-page="/Session/All" class="item">All Players</a>
</div>