<header style="margin-bottom: 1.2em">
    <div class="ui inverted segment" style="border-radius: 0">
        <div class="ui inverted secondary menu container">
            <a asp-page="/Index" class="item">Home</a>
            <a asp-page="/Session/Index" class="item">Session</a>
            <a asp-page="/Actor/Index" class="item">Actor</a> 
            <a asp-page="/Event/Index" class="item">Event</a>
            <a asp-page="/Canvas/Index" class="item">Canvas</a>
            <a asp-page="/Server/Index" class="item">Server</a>
        </div>
    </div>
</header>