<header style="margin-bottom: 1.2em">
    <div class="ui inverted segment" style="border-radius: 0">
        <div class="ui inverted secondary menu container">
            <a href="/" class="item">Home</a>
            <a href="/sessions" class="item">Sessions</a>
            <a href="/actors" class="item">Actors</a>
        </div>
    </div>
</header>