<header style="margin-bottom: 1.2em">
    <div class="ui inverted segment" style="border-radius: 0">
        <div class="ui inverted secondary menu container">
            <a asp-page="/Index" class="item">home</a>
            <a asp-page="/Session/Index" class="item">session</a>
            <a asp-page="/Actor/Index" class="item">actor</a> 
            <a asp-page="/Event/Index" class="item">event</a>
            <a asp-page="/Server/Index" class="item">server</a>
        </div>
    </div>
</header>